{% extends 'base.html.twig' %}


{% block body %}
	<style>
		#notesChart {
			font-family: 'Inter', system-ui, -apple-system, sans-serif;
			--tw-ring-opacity: 0.05;
			min-height: 320px;
			background: white;
			border-radius: 0.75rem;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
		}

		.chart-legend {
			display: flex;
			gap: 1rem;
			margin-top: 1.5rem;
		}

		.legend-item {
			display: flex;
			align-items: center;
			font-size: 0.875rem;
			color: #4B5563;
		}

		.legend-color {
			width: 12px;
			height: 12px;
			border-radius: 3px;
			margin-right: 0.5rem;
		}
	</style>
	<div class="w-full ">
		<div class="w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4 mb-4 p-2">
			<div class="bg-gray-50 shadow p-4 ">
				<div class="flex items-center">
					<div class="flex-shrink-0  space-y-2">
						<span class="text-2xl leading-none font-bold text-gray-900">
							{{ currency }}{{ weeklyPaymentStats.currentWeekAmount|format_number(locale=app.request.locale) }}
						</span>
						<h3 class="text-xs font-normal text-gray-500 ">{{"Total payments received this week" | trans}}</h3>
					</div>
					<div class="ml-5 w-0 flex items-center justify-end flex-1 text-sm font-bold
						{% if weeklyPaymentStats.percentageGain is not null %}
							{% if weeklyPaymentStats.percentageGain >= 0 %}
								text-green-500
							{% else %}
								text-red-500
							{% endif %}
						{% else %}
							text-gray-400
						{% endif %}
					">
						{% if weeklyPaymentStats.percentageGain is not null %}
							{{ weeklyPaymentStats.percentageGain|number_format(2, '.', ',') }}%

							{% if weeklyPaymentStats.percentageGain >= 0 %}
								<svg class="w-4 h-4" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
								</svg>
							{% else %}
								<svg class="w-4 h-4" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M14.707 12.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
								</svg>
							{% endif %}
						{% else %}
							<span class="text-gray-500">N/A</span>
						{% endif %}
					</div>
				</div>
			</div>

			<div class="bg-gray-50 shadow p-4 ">
				<div class="flex items-center">
					<div class="flex-shrink-0  space-y-2">
						<span class="text-2xl leading-none font-bold text-gray-900">
							{{ currency }}{{ monthlyPaymentStats.currentMonthAmount|format_number(locale=app.request.locale) }}
						</span>
						<h3 class="text-xs font-normal text-gray-500">{{"Total payments received this month" | trans}}</h3>
					</div>
					<div class="ml-5 w-0 flex items-center justify-end flex-1 text-sm font-bold
						{% if monthlyPaymentStats.percentageGain is not null %}
							{% if monthlyPaymentStats.percentageGain >= 0 %}
								text-green-500
							{% else %}
								text-red-500
							{% endif %}
						{% else %}
							text-gray-400
						{% endif %}
					">
						{% if monthlyPaymentStats.percentageGain is not null %}
							{{ monthlyPaymentStats.percentageGain|number_format(2, '.', ',') }}%

							{% if monthlyPaymentStats.percentageGain >= 0 %}
								<svg class="w-4 h-4" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
								</svg>
							{% else %}
								<svg class="w-4 h-4" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M14.707 12.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
								</svg>
							{% endif %}
						{% else %}
							<span class="text-gray-500">N/A</span>
						{% endif %}
					</div>
				</div>
			</div>

			<div class="bg-gray-50 shadow p-4 ">
				<div class="flex items-center">
					<div class="flex-shrink-0  space-y-2">
						<span class="text-2xl leading-none font-bold text-gray-900">
							{{ weeklyUserInscription.currentWeekCount|format_number(locale=app.request.locale) }}
							<span class="text-xs text-gray-500">{{"Client(s)" | trans}}</span>
						</span>
						<h3 class="text-xs font-normal text-gray-500">{{"Total new clients acquired this week" | trans}}</h3>
					</div>
					<div class="ml-5 w-0 flex items-center justify-end flex-1 text-sm font-bold
						{% if weeklyUserInscription.percentageGain is not null %}
								{% if weeklyUserInscription.percentageGain >= 0 %}
								text-green-500
								{% else %}
								text-red-500
								{% endif %}
						{% else %}
								text-gray-400
						{% endif %}
					">
						{% if weeklyUserInscription.percentageGain is not null %}
							{{ weeklyUserInscription.percentageGain|number_format(2, '.', ',') }}%

							{% if weeklyUserInscription.percentageGain >= 0 %}
								<svg class="w-4 h-4" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
								</svg>
							{% else %}
								<svg class="w-4 h-4" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M14.707 12.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
								</svg>
							{% endif %}
						{% else %}
							<span class="text-gray-500">N/A</span>
						{% endif %}
					</div>
				</div>
			</div>

			<div class="bg-gray-50 shadow p-4 ">
				<div class="flex items-center">
					<div class="flex-shrink-0  space-y-2">
						<span class="text-2xl leading-none font-bold text-gray-900">
							{{ monthlyUserInscription.currentMonthCount|format_number(locale=app.request.locale) }}
							<span class="text-xs text-gray-500">{{"Client(s)" | trans}}</span>
						</span>
						<h3 class="text-xs font-normal text-gray-500">{{"Total new clients acquired this month" | trans}}</h3>
					</div>
					<div class="ml-5 w-0 flex items-center justify-end flex-1 text-sm font-bold
							                  {% if monthlyUserInscription.percentageGain is not null %}
							                        {% if monthlyUserInscription.percentageGain >= 0 %}
							                           text-green-500
							                        {% else %}
							                           text-red-500
							                        {% endif %}
							                  {% else %}
							                        text-gray-400
							                  {% endif %}
							               ">
						{% if monthlyUserInscription.percentageGain is not null %}
							{{ monthlyUserInscription.percentageGain|number_format(2, '.', ',') }}%

							{% if monthlyUserInscription.percentageGain >= 0 %}
								<svg class="w-4 h-4" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
								</svg>
							{% else %}
								<svg class="w-4 h-4" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M14.707 12.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
								</svg>
							{% endif %}
						{% else %}
							<span class="text-gray-500">N/A</span>
						{% endif %}
					</div>
				</div>
			</div>

		</div>
		<div class="w-full grid grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3 gap-4">
			<div class="bg-white p-4 sm:p-6 xl:p-8 2xl:col-span-2" id="chartElementAdmin">
				<div class="flex flex-col md:flex-row items-center justify-start md:justify-between mb-4 gap-4">
					<div class="flex-shrink-0">
						<span class="text-xl leading-none font-bold text-gray-900">{{ "Payments Analytics" | trans }}</span>
						<h3 class="text-md font-normal text-gray-500">{{ "Monthly payments by year" | trans }}</h3>
					</div>
					<div class="flex-shrink-0">
						<div class="flex items-center justify-between">
						<div>
							<p class="text-sm text-gray-500">{{ 'Total Revenue' | trans }}</p>
							<p class="mt-1 text-4xl font-semibold text-gray-900">
								{{ totalRevenue|number_format(2, '.', ',') }} <span class="text-green-600">{{ currency|default('USD') }}</span>
							</p>
						</div>
					
					</div>
					</div>
				</div>

				<div
					class="h-80 relative">
					<!-- Loading message -->
					<div id="chartLoading" class="absolute inset-0 flex items-center justify-center bg-white rounded-lg">
						<div class="text-center">
							<div class="animate-spin rounded-full h-8 w-8 border-b-2 border-gray-400 mx-auto mb-2"></div>
							<p class="text-gray-600 text-sm">{{ "Loading data..." | trans }}</p>
						</div>
					</div>

					<!-- Chart canvas, hidden initially -->
					<canvas id="notesChart" style="display: none;"></canvas>


				</div>
			</div>
			<div class="bg-gray-50 shadow p-4 sm:p-2 xl:p-4 ">
				<div class="mb-4 flex items-center justify-between">
					<div>
						<h3 class="text-lg font-bold text-gray-900 mb-2">{{"Latest Transactions" | trans}}</h3>
						<span class="text-sm font-normal text-gray-500">{{"This is a list of latest transactions" | trans}}</span>
					</div>
					<div class="flex-shrink-0">
						<a href="{{path('app_admin_payment')}}" class="text-sm font-medium text-cyan-600 hover:bg-gray-100 p-2">{{"View all" | trans}}</a>
					</div>
				</div>
				<div class="flex flex-col mt-8">
					<div class="overflow-x-auto">
						<div class="align-middle inline-block min-w-full">
							<div class="shadow overflow-hidden ">
								<table class="min-w-full divide-y divide-gray-200 shadow-md border border-gray-100">
									<thead class="bg-gray-50">
										<tr>
											<th scope="col" class="p-4 text-left text-xs font-medium text-gray-500  tracking-wider">
												{{"Transaction" | trans}}
											</th>
											<th scope="col" class="p-4 text-left text-xs font-medium text-gray-500  tracking-wider">
												{{"Date & Time" | trans}}
											</th>
											<th scope="col" class="p-4 text-left text-xs font-medium text-gray-500  tracking-wider">
												{{"Amount" | trans}}
											</th>
										</tr>
									</thead>
									<tbody class="bg-white divide-y divide-gray-200">
										{% for payment in payments %}
											<tr class="">
												<td class="p-4 whitespace-nowrap text-xs font-normal text-gray-900">
													{{"Payment from" | trans}}
													<span class="font-semibold">{{ payment.clientName}}</span>
												</td>
												<td class="p-4 whitespace-nowrap text-xs font-normal text-gray-500">
													{{ payment.createdAt|format_datetime(pattern='MMMM d, y', locale=app.request.locale) }}
												</td>
												<td class="p-4 whitespace-nowrap text-xs font-semibold text-gray-900">
													{{ payment.amount | format_number(locale=app.request.locale) }}
													{{ payment.currency }}
												</td>
											</tr>
										{% endfor %}

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="grid grid-cols-1 2xl:grid-cols-2 xl:gap-4 my-4">
			<div class="bg-white shadow mb-4 p-4 sm:p-6 h-full">
				<div class="flex items-center justify-between mb-4">
					<h3 class="text-xl font-bold leading-none text-gray-900">{{"Latest 5 Clients" | trans}}</h3>
					<a href="{{path('app_admin_clients')}}" class="text-sm font-medium text-cyan-600 hover:bg-gray-100 inline-flex items-center p-2">
						{{"View all" |trans}}
					</a>
				</div>
				<div class="flow-root">
					<ul role="list" class="divide-y divide-gray-200">
						{% for client in  last5Clients %}
							<li class="py-3 sm:py-4">
								<div class="flex items-center space-x-4">
									<div class="flex-shrink-0">
										<div class="h-8 w-8 rounded-full bg-trash_bold text-white flex items-center justify-center font-bold text-sm uppercase">
											{{ client.name|slice(0, 1)|upper }}
										</div>
									</div>
									<div class="flex-1 min-w-0">
										<p class="text-sm font-medium text-gray-900 truncate">
											{{ client.name | capitalize}}
										</p>
										<p class="text-sm text-gray-500 truncate">
											{{ client.user.createdAt|format_datetime(pattern='MMMM d, y HH:mm', locale=app.request.locale) }}
										</p>
									</div>
									<div class="inline-flex items-center text-base font-semibold text-gray-900">
										<a href="{{ path('app_admin_clients_view',{slug :client.slug})}}" class="inline-flex items-center px-3 py-1.5  bg-trash text-white hover:bg-trash_bold transition-all duration-200 group text-xs font-medium shadow-xs border border-emerald-100">
											<svg class="w-4 h-4 mr-1.5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24">
												<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 5V4a1 1 0 0 0-1-1H8.914a1 1 0 0 0-.707.293L4.293 7.207A1 1 0 0 0 4 7.914V20a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-5M9 3v4a1 1 0 0 1-1 1H4m11.383.772 2.745 2.746m1.215-3.906a2.089 2.089 0 0 1 0 2.953l-6.65 6.646L9 17.95l.739-3.692 6.646-6.646a2.087 2.087 0 0 1 2.958 0Z"/>
											</svg>
											<span>{{ 'View'|trans }}</span>
										</a>
									</div>
								</div>
							</li>
						{% endfor %}

					</ul>
				</div>
			</div>
			<div class="bg-white shadow p-4 sm:p-6 xl:p-8">

				<div class="flex items-center justify-between mb-4">
					<h3 class="text-xl font-bold leading-none text-gray-900">{{"System Logs" | trans}}</h3>
					<a href="{{path('app_admin_clients')}}" class="text-sm font-medium text-cyan-600 hover:bg-gray-100 inline-flex items-center p-2">
						{{"View all" |trans}}
					</a>
				</div>
				<div class="block w-full overflow-x-auto">
					<table class="items-center w-full bg-transparent border-collapse">
						<thead>
							<tr>
								<th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap">Level</th>
								<th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap">Message</th>
								<th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap">Date</th>
							</tr>
						</thead>
						<tbody
							class="divide-y divide-gray-100">

							<!-- Example 1: ERROR -->
							<tr class="text-gray-500">
								<td class="border-t-0 px-4 align-middle text-xs font-bold text-red-600 whitespace-nowrap p-4 text-left">
									ERROR
								</td>
								<td class="border-t-0 px-4 align-middle text-sm text-gray-800 whitespace-nowrap p-4">
									Database connection failed on production server.
								</td>
								<td class="border-t-0 px-4 align-middle text-sm text-gray-500 whitespace-nowrap p-4">
									2025-08-02 15:24
								</td>
							</tr>

							<!-- Example 2: DEBUG -->
							<tr class="text-gray-500">
								<td class="border-t-0 px-4 align-middle text-xs font-bold text-blue-500 whitespace-nowrap p-4 text-left">
									DEBUG
								</td>
								<td class="border-t-0 px-4 align-middle text-sm text-gray-800 whitespace-nowrap p-4">
									User registration payload received.
								</td>
								<td class="border-t-0 px-4 align-middle text-sm text-gray-500 whitespace-nowrap p-4">
									2025-08-02 14:03
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>

		</div>


	</div>
{% endblock %}
{% block javascripts %}
	{{ parent()}}
	<script src="{{ asset('template/js/chartjs.min.js')}}"></script>
	<script>
    window.translations = {
        monthlyPayments: '{{ "Monthly Payments"|trans|e('js') }}',
        payments: '{{ "Payments"|trans|e('js') }}',
        dataLoadingError: '{{ "Data loading error"|trans|e('js') }}',
        networkError: '{{ "Network error"|trans|e('js') }}'
    };
</script>
	<script src="{{ asset('build/admin_chart.js') }}"></script>
	
{% endblock %}
