<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="author" content="Trash Phone">
		<meta name="description" content="Trash Phone lets users create temporary and disposable phone numbers instantly, with real-time SMS reception and secure payment integration. Protect your privacy and manage your communications effortlessly.">
		<meta name="keywords" content="temporary phone numbers, disposable phone numbers, volatile numbers, SMS verification, real-time SMS, anonymous phone numbers, SMS platform, secure payments, Stripe, PayPal">
		<meta name="robots" content="index, follow">
		<meta name="language" content="en">

		<meta property="og:title" content="Trash Phone – Create Temporary & Disposable Phone Numbers">
		<meta property="og:description" content="Instantly create temporary phone numbers for SMS verification, privacy protection, and more. Real-time SMS and secure payments with Stripe and PayPal integration.">
		<meta property="og:image" content="{{ asset('template/logos/logo.png') }}">
		<meta property="og:url" content="{{ app.request.uri }}">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="Trash Phone">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@TrashPhoneApp">
		<meta name="twitter:title" content="Trash Phone – Create Temporary & Disposable Phone Numbers">
		<meta name="twitter:description" content="Protect your privacy with disposable, temporary phone numbers and real-time SMS reception. Secure payments via Stripe and PayPal integrated.">
		<meta name="twitter:image" content="{{ asset('template/logo/logo.png') }}">
        <title>{{"Trash Phone – Your Platform for Temporary, Disposable Phone Numbers" | trans}}</title>

		<link rel="icon" href="{{ asset('template/logo/favicon.ico')}}">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
            <script>
				function onChangeLanguage(value)
				{
					if (value === "en") {
							window.location.href = "/change/locales/en";
							} else if (value === "fr") {
							window.location.href = "/change/locales/fr";
							} else if (value === "de") {
							window.location.href = "/change/locales/de";
							}else if (value === "es") {
							window.location.href = "/change/locales/es";
							}

				}
			</script>
		{% endblock %}
	</head>
	<body class="bg-gray-50 sm:mx-0 md:mx-6 mt-6">
        {% if app.user %}
			{{ render(controller('App\\Controller\\MenuController::authenticated')) }}
		{% else %}
			{{ render(controller('App\\Controller\\MenuController::index')) }}
		{% endif %}
        
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                {% for message in app.flashes('success') %}
                    toastr.success({{ message|json_encode|raw }});
                {% endfor %}
                {% for message in app.flashes('danger') %}
                    toastr.error({{ message|json_encode|raw }});
                {% endfor %}
                {% for message in app.flashes('warning') %}
                    toastr.warning({{ message|json_encode|raw }});
                {% endfor %}
            });
        </script>
		{% block body %}{% endblock %}
	</body>
</html>
